 /* h1 */
  .t1{
    font-family:'Noteworthy Light';
    font-weight:normal;
    font-size: 36px;
  }
  /* h2 */
  .t2{
    font-family:'Noteworthy Light';
    font-weight:normal;
    font-size: 30px;
  }
  /* h3 */
  .t3{
    font-family:'Noteworthy Light';
    font-weight:normal;
    font-size: 24px;
  }
  /* h4 */
  .normal{
    font-size: 20px;
  }
  /* h5 */
  .small{
    font-family:'Noteworthy Light';
    font-weight:normal;
    font-size: 26px;
  }
  /* h6 */
  .smaller{
    font-size: 14px;
  }

  .p{
    font-family:'Noteworthy Light';
    font-weight:normal;
    font-size: 16px;
    color: #949494;

  }


@media (min-width: 320px) {


      /* h1 */
  .t1{
    font-family:'Noteworthy Light';
    font-weight:normal;
    font-size: 48px;
    color: #000;
  }
  /* h2 */
  .t2{
    font-family:'Noteworthy Light';
    font-weight:normal;
    font-size: 44px;
    color: #000;
  }
  /* h3 */
  .t3{
    font-family:'Noteworthy Light';
    font-weight:normal;
    font-size: 40px;
    color:#949494;
    text-align: center;
  }

  .t4{
    font-size: 24px;
    color:#949494;
    text-align: center;
  }
  /* h4 */
  .normal{
    font-size: 18px;
    color: #08bed8;
  }
  /* h5 */
  .small{
    font-size: 16px;
    color: #949494;
  }
  /* h6 */
  .smaller{
    font-size: 14px;
    color: #949494;
  }

  .team-section{
    background-image: url(../img/home.png);
 
  }

  .team-section .container{
    padding-top:5%;
    padding-bottom:8%;
  }

  .team-section .title-equipo{
    padding-bottom:5%;
  }

  .card span{
    color:#949494;
    text-align: center;
  }

  .card p{
    text-align: center;
    color:#949494;
    padding-top:5%;
    padding-bottom:5%;
  }

}


.img-top{
    padding-top: 93px;
    background-image: url(assets/img/Estacion_tren.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;
}

.team-card{
    width: 14.2em;
    height: 14.2em;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #029cf5 0%, #15eded 100%);
    margin: 0 auto;
    position: relative;
    z-index: 5;
    /* filter: grayscale(100%); */
    transition: 0.2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-image {
    height: 200px;
    width: 200px;
    margin-left: 60px; 
    border-radius: 100%;
}

@media screen and (min-width: 600px) {



}


@media (min-width: 768px) {
    /* ... */
}
 
@media (min-width: 992px) {

    /* ... */
}
 
@media (min-width: 1200px) {
    /* ... */
}