 /* h1 */
  .t1{
    font-size: 36px;
  }
  /* h2 */
  .t2{
    font-size: 30px;
  }
  /* h3 */
  .t3{
    font-size: 24px;
  }
  /* h4 */
  .normal{
    font-size: 20px;
  }
  /* h5 */
  .small{
    font-size: 16px;
  }
  /* h6 */
  .smaller{
    font-size: 14px;
  }


@media (min-width: 320px) {


      /* h1 */
  .t1{
    font-size: 48px;
    color: #000;
  }
  /* h2 */
  .t2{
    font-size: 44px;
    color: #000;
  }
  /* h3 */
  .t3{
    font-size: 40px;
    color:#949494;
    text-align: center;
  }

  .t4{
    font-size: 24px;
    color:#949494;
    text-align: center;
  }
  /* h4 */
  .normal{
    font-size: 18px;
    color: #08bed8;
  }
  /* h5 */
  .small{
    font-size: 16px;
    color: #000;
  }
  /* h6 */
  .smaller{
    font-size: 14px;
    color: #949494;
  }

  .team-section{
    background-image: url(../img/home.png);
 
  }

  .team-section .container{
    padding-top:5%;
    padding-bottom:8%;
  }

  .team-section .title-equipo{
    padding-bottom:5%;
  }

  .card span{
    color:#949494;
    text-align: center;
  }

  .card p{
    text-align: center;
    color:#949494;
    padding-top:5%;
    padding-bottom:5%;
  }

}


.img-top{
  padding-top: 93px;
    background-image: url(assets/img/Estacion_tren.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 350px;
}

@media screen and (min-width: 600px) {



}


@media (min-width: 768px) {
    /* ... */
}
 
@media (min-width: 992px) {

    /* ... */
}
 
@media (min-width: 1200px) {
    /* ... */
}