 
 .body-home {
    background-color: #fff;
    background-image: url(../img/fondo_1.png);
    background-position: 0% 4%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: inherit;
}

.nav{
background-color: #fff;
color:#000;

}


body {
    font-size: 16px;
    margin: 0;
    position: relative;
} 
  .parallax { 
    /* The image used */
    background-image: url("../img/fondo_1.png");

    /* Set a specific height */
   height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

 /* h1 */
  .t1{
    font-size: 36px;
  }
  /* h2 */
  .t2{
    font-size: 30px;
  }
  /* h3 */
  .t3{
    font-size: 24px;
    color:#949494;
  }
  /* h4 */
  .normal{
    font-size: 20px;
  }
  /* h5 */
  .small{
    font-size: 16px;
  }
  /* h6 */
  .smaller{
    font-size: 14px;
  }

  .content-aprender{
    padding-top: 15%;
}

.img-aprend img{
    border-radius: 20px;
}

.img-pasos img{
    border-radius: 20px;
}



.section-whatweofert{
/**/

    padding: 130px 0px 160px 0px;
}

/*               */
/* Seccion Pasos */
/*               */

.section-pasos{
    padding-top: 0%;
    padding-bottom: 8%;
    /*background-color: #f9f9f9;*/
}

/*                   */
/* Seccion Servicies */
/*                   */

/*.section-services{
    background-image: url('../img/4kgSvV3.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s; 

}*/

.card2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
    border-radius: 0.375rem;
    transition: all 0.3s ease;
    height: 10rem;
    
}

.card2 .icon{

  padding-top: 2.5rem;
  padding-bottom: 0rem;

}

.icon-size {
  font-size: 60px;
}

.card2 .content{

  padding-top: 4.5rem;
    padding-bottom: 0rem;

}

.section-services{
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: #f9f9f9;
}

.section-services .services{
    padding: 2% 0% 2% 0%;

}

/*                   */
/* Seccion partners  */
/*                   */

.section-partners{
    padding-top: 4%;
    padding-bottom: 4%;
    
}

.partners{
  text-align: center;
}

.title-partners{
  padding-bottom: 4%;
}

.logos{
  padding-left: 5%;"
}

.patreon-footer-ad {
    display: inline-block;
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
}

.patreon-footer-ad img {
    max-width: 180px;
    max-height: 100%;
}

@media (min-width: 320px) {


      /* h1 */
  .t1{
    font-size: 48px;
    color: #000;
  }
  /* h2 */
  .t2{
    font-size: 44px;
    color: #000;
  }
  /* h3 */
  .t3{
    font-size: 30px;
    color:#949494;
    text-align: center;
  }

  .t4{
    font-size: 24px;
    color:#949494;
    text-align: center;
  }
  /* h4 */
  .normal{
    font-size: 18px;
    color: #08bed8;
  }
  /* h5 */
  .small{
    font-size: 16px;
    color: #000;
  }
  /* h6 */
  .smaller{
    font-size: 14px;
    color: #949494;
  }

  .section-whatweofert{


    padding: 0px 0px 0px 0px;
  }

  .btn-porque{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;

  }

  .btn-porque a{
    background-color: #08bed8;
    border-radius: 30px;
  }

  /* Section pasos */

  .content-pasos h6{
    text-align: center;
    padding: 3% 0% 3% 0%;

  }

  .content-pasos, .btn-pasos{
    text-align: center;
  }

  /*Section servicios*/

  .card2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
    border-radius: 0.375rem;
    transition: all 0.3s ease;
    height: 12rem;
  }

  .card2 .icon{
    padding-top: 2.5rem;
    padding-bottom: 0rem;
  }

  .icon-size {
    font-size: 60px;
  }

  .card2 .content{
    padding-top: 0.5rem;
    padding-bottom: 0rem;
  }


  /*Section Consulta*/
  
  .consulta{
    padding-top: 3%;
    padding-bottom: 5%; 
  }

  .consulta .card{
    border-radius: 300px
  }

  .btn-consulta{
    text-align: center;
    padding-top: 25%;
    padding-bottom: 8%;
  }


  /*Section Partners*/

  .partners{
    text-align: center;
  }

  .logos{
     
  }

  .page-footer{
    background-color: #fff;
  }

  .footer-logo{
    text-align: center;
  }

  .footer-icons{
    text-align: center;
  }





}

@media screen and (min-width: 600px) {

       /* h1 */
  .t1{
    font-size: 48px;
    color: #000;
  }
  /* h2 */
  .t2{
    font-size: 44px;
    color: #000;
  }
  /* h3 */
  .t3{
    font-size: 30px;
    color:#949494;
   
  }

  .t4{
    font-size: 24px;
    color:#949494;
    
  }
  /* h4 */
  .normal{
    font-size: 18px;
    color: #08bed8;
  }
  /* h5 */
  .small{
    font-size: 16px;
    color: #000;
  }
  /* h6 */
  .smaller{
    font-size: 14px;
    color: #949494;
  }

  .section-whatweofert{


    padding: px 0px 0px 0px;
  }

  .btn-porque{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;

  }

  .btn-porque a{
    background-color: #08bed8;
    border-radius: 30px;
  }

  /* Section pasos */

  .content-pasos h6{
    text-align: center;
    padding: 3% 0% 3% 0%;

  }

  .content-pasos, .btn-pasos{
    text-align: center;
  }

  /*Section servicios*/

  .card2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
    border-radius: 0.375rem;
    transition: all 0.3s ease;
    height: 12rem;
  }

  .card2 .icon{
    padding-top: 3.5rem;
    padding-bottom: 0rem;
  }

  .icon-size {
    font-size: 70px;
  }

  .card2 .content{
    padding-top: 5.5rem;
    padding-bottom: 0rem;
  }


  /*Section Consulta*/
  
  .consulta{
    padding-top: 3%;
    padding-bottom: 5%; 
  }

  .consulta .card{
    border-radius: 300px
  }

  .btn-consulta{
    text-align: center;
    padding-top: 25%;
    padding-bottom: 8%;
  }


  /*Section Partners*/

  .partners{
    text-align: center;
  }

  .logos{
     
  }

  .page-footer{
    background-color: #fff;
  }

  .footer-logo{
    text-align: center;
  }

  .footer-icons{
    text-align: center;
  }

}


@media (min-width: 768px) {
    /* ... */
}
 
@media (min-width: 992px) {

         /* h1 */
  .t1{
    font-size: 48px;
    color: #000;
  }
  /* h2 */
  .t2{
    font-size: 44px;
    color: #000;
  }
  /* h3 */
  .t3{
    font-size: 30px;
    color:#949494;
    
  }

  .t4{
    font-size: 24px;
    color:#949494;
    
  }
  /* h4 */
  .normal{
    font-size: 18px;
    color: #08bed8;
  }
  /* h5 */
  .small{
    font-size: 16px;
    color: #000;
  }
  /* h6 */
  .smaller{
    font-size: 14px;
    color: #949494;
  }

  .section-whatweofert{
    padding: 80px 0px 50px 0px;
  }

  .img-aprend{
    padding-top: 20%;
  }

  .img-aprend img{
    border-radius: 20px;
  }


  .btn-porque{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: left;
  }

  .btn-porque a{
    background-color: #08bed8;
    border-radius: 30px;
  }

  .img-pasos{
    padding-top: 50%;
  }

  .img-pasos img{
    border-radius: 20px;
    height: 300px;
    width: 400px;
  }

  /* Section pasos */

  .content-pasos h6{
    text-align: center;
    padding: 3% 0% 3% 0%;

  }

  .content-pasos, .btn-pasos{
    text-align: center;
  }

  /*Section servicios*/

  .card2 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 5px 5px 25px 0px rgba(46,61,73,0.2);
    border-radius: 0.375rem;
    transition: all 0.3s ease;
    height: 12rem;
  }

  .card2 .icon{
    padding-top: 4rem;
    padding-bottom: 0rem;
  }

  .icon-size {
    font-size: 60px;
  }

  .card2 .content{
    padding-top: 4.5rem;
    padding-bottom: 0rem;
  }


  /*Section Consulta*/
  
  .consulta{
    padding-top: 3%;
    padding-bottom: 5%; 
  }

  .consulta .card{
    border-radius: 300px
  }

  .btn-consulta{
    text-align: center;
    padding-top: 25%;
    padding-bottom: 8%;
  }


  /*Section Partners*/

  .partners{
    text-align: center;
  }

  .logos{
     
  }

  .page-footer{
    background-color: #fff;
  }

  .footer-logo{
    text-align: center;
  }

  .footer-icons{
    text-align: center;
  }
    /* ... */
}
 
@media (min-width: 1200px) {
    /* ... */
}



